.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
@media (max-width: 576px) {
  .card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 23px;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .img-container {
    align-self: flex-end;
  }
  .title {
    color: #171f46;
    font-size: 19px;
  }
  .description {
    font-size: 12px;
    font-weight: 500;
    color: #64748b;
  }
}
@media (min-width: 767px) {
  .card {
    width: 40%;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 23px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .img-container {
    align-self: flex-end;
  }
  .title {
    color: #171f46;
    font-size: 32px;
  }
  .description {
    font-size: 21px;
    color: #64748b;
  }
}
